<div class="sidenav">
   <div class="login-main-text">
       <h1>ViMeet</h1>
   </div>
   <div class="description" style="text-align: center;">
      <h3>Break Ice & Bond among your<br> co-workers & classmates</h3>
   </div>
</div>
<div class="main">
   <div class="col-md-6 col-sm-12">
      <div class="login-form">
         <form action="/room" >
            <div class="form-group">
               <label>Username</label>
               <input type="text" class="form-control" placeholder="Username" name="username" autocomplete="off" required>
            </div>
            <div class="form-group">
               <label>Room Name</label>
               <input type="text" class="form-control" placeholder="Enter Room Name" name="room" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-secondary" style="background-color: black;color:white;">Create/Join</button>
         </form>
         
      </div>
   </div>
</div>
           <script src="/socket.io/socket.io.js"></script>
         <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
      integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
      crossorigin="anonymous"
    ></script>
      <script src="js/main.js"></script>
     