
<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Create Room</h3>
                    
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username *" name="username" value="" autocomplete="off" required/>
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <input type="submit" class="btnSubmit" value="Create Room" />
                        </div>
                    
                </div>
                <div class="col-md-6 login-form-2">
                    <div class="login-logo">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                    </div>
                    <h3>Join Room</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username *" name="username" value="" autocomplete="off" required />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Enter Room Id *" name="Room" autocomplete="off" required/>
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <input type="submit" class="btnSubmit" value="Join Room" />
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>