@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar{
    
    font-family: 'Lobster', cursive;
    background-color: black;
    color: white;
    
}

.navbar-brand{
    font-size: 60px;
}