body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 200px;
    background: #FFF;

   
}

.sidenav {
    height: 100%;
    background-color: #000;

    padding-top: 20px;

   
}
.description{
     height: 90%;
    background-color: #000;
    
   
    padding-left: 90px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 200;
   
}

.main {
    padding: 0px 10px;
    position: relative !important;
    left: 18% !important;
    bottom: 20% !important;

}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;


    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;

    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
  
    text-align: center;

      font-size: 40px;

}

.login-main-text h1{
    font-weight: 300;
    font-family: 'Lilita One';
      font-size: 70px;

}


.btn-black{
    background-color: #000 !important;
    color: #fff;
}